.containerT{
	width:340px;
	height:340px;
	text-align:center;
	position:absolute;top:50%;left:50%;
	margin:-170px 0 0 -170px;
	}
.containerT h1{margin:20px 0 20px 0;font-size:27px;color:#333;font-family:microsoft yahei,Arial,sans-serif;font-weight:500}
.login-box {
			background-color:#fff;
            width:340px;
			height:340px;
            border:1px solid #e5e5e5;
            box-shadow:0 4px 18px rgba(0,0,0,0.2);
			position:absolute;
            top:50%;left:50%;
			margin:-170px 0 0 -170px;
        }
		
.menu {
	position: fixed;
    bottom: 0;
    width: 100%;
	display:fixed;
	height:8%;
	padding:2px;
    background-color: #fff;	
	box-shadow:0 4px 18px rgba(0,0,0,0.2);
}
.submenu{
	width:33%;
	float:left;
}
.menuimg{
	height:18px;
	width:18px;
}
.menutext{
	color:#333;
	font-size:13px;

}
.selected{
		color:#CFAC66;
	}	
	
.text-center{
    text-align:center
}
a{
	text-decoration:none;
}
a:hover{
	text-decoration:none;
}