*{margin:0;padding:0;font-family:microsoft yahei}
html,body{width:100%;height:100%;}

.head-box{
	width:1500px;height:100px;
	margin:50px auto 0 auto;
	border:1dx solid #CFAC66;
	}

.head-box search{
	width:500px;height:50px;
	margin:0 0 0 180px;
	border:4px solid rgba(0,0,0,.4);
	border-radius:30px;
	background-color:#fff;
	transition: all 200ms ease;
	text-align:center;}

.head-box input:hover{border:4px solid #CFAC66;}

.head-box button{
	width:50px;height:50px;
	margin:auto 180px auto 30px;
	cursor:pointer;
	border-radius:50%;border:0;
	background-color:rgba(0,0,0,.4);
	transition:all 200ms ease;}

.head-box button:hover{background-color:rgba(0,0,0,.8);}

.head-box .qrcode{
	width:100px;height:100px;
	margin:0;
	display:inline;
	text-align:center;}

.head-box .qrtext a{
	color:#CFAC66;font-weight:600;text-decoration:none;
	line-height:20px;
	}
.head-box .qrtext a:hover{color:#000;text-decoration:none;}



@keyframes bg
{
from{width:0px;height:0px;}
to{width:1200px;
height:600px;}
}

@-moz-keyframes myfirst /* Firefox */
{
from{width:0px;height:0px;}
to{width:1200px;
height:600px;}
}

@-webkit-keyframes myfirst /* Safari ºÍ Chrome */
{
from{width:0px;height:0px;}
to{width:1200px;
height:600px;}
}

@-o-keyframes myfirst /* Opera */
{
from{width:0px;height:0px;}
to{width:1200px;
height:600px;}
}

.book-box{
	width:1500px;height:400px;
	background-color:#fff;
	margin:50px auto 0 auto;
	box-shadow:0 4px 3px rgba(0,0,0,0.4);
}
.table{
	margin:0 0 0 20px;
	table-layout: fixed;
	word-break: break-all;
	 word-wrap: break-word;
	width:1500px;
	text-align:center;
	}
.book-box .box-title{
	height: 64px;
	line-height: 66px;
	font-size: 25px;
	font-weight:800;
	color:#fff;
	text-align:center;
	box-shadow:0 2px 2px rgba(0,0,0,0.2);
}


.about-box{
	width:1500px;height:500px;
	background-color:rgba(0,0,0,0.2);
	margin:50px auto;
	
}